@import "settings";

@import "foundation";

@import "bourbon";

.unformatted-list {
  list-style: none;
  margin-left: 0;
}

.venue-list {
  padding: 0;
}

.search-bar label, .search-bar input {
  margin: 0;
}

.select-icon {
  position: absolute;
  top: 4px;
  right: 6px;
  color: #007095;
}

.photo-select {
  position: relative;
  width: 100%;
}

.photo {
  max-height: 164px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.stop-row {
  @include display(flex);
  @include align-items(center);
}

.ember-view {
  @include display(flex);
  @include flex-direction(column);
  height: 100%;
}

.header, .footer {
  @include flex(none);
}

.main {
  @include flex(1 0 auto);
}
