@import "settings";

@import "foundation";

@import "bourbon";

.unformatted-list {
  list-style: none;
  margin-left: 0;
}

.venue-list {
  padding: 0;
}

.search-bar label, .search-bar input, input.ember-text-field {
  margin: 0;
}

.select-icon {
  position: absolute;
  top: 4px;
  right: 6px;
  color: #007095;
}

.photo-select {
  position: relative;
  width: 100%;
}

.photo-select img {
  height: 89px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.photo {
  max-height: 164px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.stop-row {
  @include display(flex);
  @include align-items(center);
}

.admin-section a {
  width: 56px;
}

.button.mini {
  padding-top: 0.625rem;
  padding-right: 0.75rem;
  padding-bottom: 0.6875rem;
  padding-left: 0.75rem;
  font-size: 0.6875rem;
}

.wrapper {
  @include display(flex);
  @include flex-direction(column);
  height: 100%;
}

.header, .footer {
  @include flex(none);
}

.main {
  @include flex(1 0 auto);
  min-height: 500px;
}

.unformatted-list, .inline-list, .button-group .button {
  margin-bottom: 0;
}

.button.add, .button.new-crawl {
  margin-top: 10px;
}

.button.add {
  margin-bottom: 0;
}

.venue-icon {
  height: 16px;
  width: 16px;
}

input.foursquare-search, input.foursquare-search:focus {
  background-image: url('/assets/images/foursquare.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.number {
  background-color: #333;
  color: #EEEEEE;
  width: 85px;
  text-align: center;
}

.number h1 {
  margin: 0;
  color: #EEEEEE;
}

.crawl-row {
  @include display(flex);
  @include align-items(center);
  margin-bottom: 20px;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  &:hover {
    color: #222222;
    background-color: #F6F6F6;
  }
  &:active, &:focus {
    outline: none;
  }
}

.stops-label {
  margin-bottom: 10px;
}

.stop-info {
  margin-left: 20px;
}
