@import "settings";

@import "foundation";

.unformatted-list {
  list-style: none;
  margin-left: 0;
}

.venue-list {
  padding: 0;
}

.search-bar label, .search-bar input {
  margin: 0;
}

.select-icon {
  position: absolute;
  top: 4px;
  right: 6px;
  color: #007095;
}

.photo-select {
  position: relative;
  width: 100%;
}
