<div class="contain-to-grid header">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Crawls</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="">
          {{#if session.isAuthenticated}}
            <a {{ action 'invalidateSession' }}>{{session.email}} - Logout</a>
          {{else}}
            {{#link-to 'login'}}Login{{/link-to}}
          {{/if}}
        </li>
      </ul>
    </section>
  </nav>
</div>
<div class="main">
  {{outlet}}
</div>
<footer class="footer">
  <div class="row">
    <div class="small-12 columns text-right ">
      <small>John Griffin 2015</small>
    </div>
  </div>
</footer>
