<div class="row">
  <div class="small-12 columns">
    {{#if session.isAuthenticated}}
      {{#link-to 'crawls.new' class="button small new-crawl right"}}
        Add crawl
      {{/link-to}}
    {{/if}}
  </div>
</div>

{{#if isRejected}}
  <div class="row">
    <div class="small-12 columns">
      <div class="alert-box secondary">You do not have permission to access that page.</div>
    </div>
  </div>
{{/if}}
