<div class="row">
  <div class="small-12 columns">
    {{#if session.isAuthenticated}}
      {{#link-to 'crawls.new' class="button small new-crawl right"}}
        Add crawl
      {{/link-to}}
    {{/if}}
  </div>
</div>

{{#if isRejected}}
  <div class="row">
    <div class="small-12 columns">
      <div class="alert-box secondary">You do not have permission to access that page.</div>
    </div>
  </div>
{{/if}}
{{#if isNotFound}}
  <div class="row">
    <div class="small-12 columns">
      <div class="alert-box secondary">The page you requested does not exist.</div>
    </div>
  </div>
{{/if}}

<div class="row">
  <div class="small-12 medium-6 columns featured-crawls">
    <h3>Featured</h3>
    {{#each crawl in featuredCrawls}}
      {{partial 'crawl'}}
    {{/each}}
  </div>

  <div class="small-12 medium-6 columns owned-crawls">
    <h3>Owned</h3>
    {{#each crawl in ownedCrawls}}
      {{partial 'crawl'}}
    {{/each}}
  </div>
</div>
