<form {{action 'authenticate' on='submit'}}>
  <p>
    {{errorMessage}}
  </p>
  <div class="row">
    <div class="small-3 medium-2 columns">
      <label class="inline right">Login</label>
    </div>
    <div class="small-6 medium-8 columns left">
      {{input value=identification placeholder='Enter Login' class='email'}}
    </div>
  </div>
  <div class="row">
    <div class="small-3 medium-2 columns">
      <label class="inline right">Password</label>
    </div>
    <div class="small-6 medium-8 columns left">
      {{input value=password placeholder='Enter Password' type='password' class='password'}}
    </div>
  </div>

  <div class="row">
    <div class="small-9 small-offset-3 medium-10 medium-offset-2 columns">
      <button type="submit" class='login'>Login</button>
    </div>
  </div>
</form>
